<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mde-Web-Service-crap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetEquationDescription</servlet-name>
    <servlet-class>org.benetech.mde.servlet.GetEquationDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEquationDescription</servlet-name>
    <url-pattern>/GetEquationDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSVG</servlet-name>
    <servlet-class>org.benetech.mde.servlet.GetSVG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSVG</servlet-name>
    <url-pattern>/GetSVG</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSVGFile</servlet-name>
    <servlet-class>org.benetech.mde.servlet.GetSVGFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSVGFile</servlet-name>
    <url-pattern>/GetSVGFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetJSON</servlet-name>
    <servlet-class>org.benetech.mde.servlet.GetJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJSON</servlet-name>
    <url-pattern>/GetJSON</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GetNewEquation</servlet-name>
    <servlet-class>org.benetech.mde.servlet.GetNewEquation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewEquation</servlet-name>
    <url-pattern>/GetNewEquation</url-pattern>
  </servlet-mapping>
</web-app>